<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <% if(success.length>0){ %> <%= success %> <%} %><br/> 
        <a href='/register'>Register</a>
        <a href='/login'>Login</a>
        <a href='/logout'>Logout</a>
  </body>
</html>
