<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EJS Project</title>
        <%- include('../partials/head')  %> 
    </head>
    <body>
        <h1>Please choose one.</h1>
        <p>Logged in as: <%= user.name %> </p><a href="/api/users/logout">Log Out</a>
        <div>
            <a href="/movies">Now Playing</a> |
        </div>
        <div>
            <a href="/randomusers">Random Users</a> |
        </div>
    </body>
</html>